
#splash-header{
    background-color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

form{
    background-color: #EEEEEE;
}

input{
    padding-left: 1.5rem;
    font-size: 16px;
    font-weight: 300;
    height: 44px;
    width:700px;
    color:#6B6B6B;
}




#buttons{
    padding-bottom: 1rem;
}


#log-in{
    /*we should try to pick a better color for bg color at some point */
    background-color: var(--color-grey);
    color: var(--color-black);
}
#sign-up{
    background-color: var(--color-black);
    color: var(--color-white)
}


select{
    padding-top: 0.75rem;
    padding-left: 1rem;
}

/* color for login on hover #CCCCCC */
/* color for sign up hover #333333 */