
#ux-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}


.minimal-header-padding{
    padding-right:2rem;
}

#cart-button{
    background-color: var(--color-black);
    color: var(--color-white);
    float:right;
}

#cart-button:hover{
    background-color: var(--color-hover-black);
}



.map-location-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#delivery-pickup{
    font-family: var(--font-family-UMB);
}
