
#ux-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding-right:2rem;
}


.minimal-header-padding{
    padding-right:2rem;
  
}

#cart-button{
    background-color: var(--color-black);
    color: var(--color-white);
    min-width:5.5rem;
    
}

#cart-button:hover{
    background-color: var(--color-hover-black);
}

.header-button{
    min-height:3rem;

}

#how-to-map{
    min-width: 250px;
}

#carts-text-holder{
    margin-left: 3px;
}


.map-location-text{
    padding-left:1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#delivery-pickup{
    font-family: var(--font-family-UMB);
}

.header-button-spacing{
    padding-left:1rem;
}

#header-form-spacing{
    padding-left:1rem
}

.header-left{
    display: flex;
    align-items: center;
    width:auto;
}