

#cart-button{
    background-color: var(--color-black);
    color: var(--color-white);
    
}

@media screen and (max-width:600px) {
    #ux-header{
        display: flex;
        justify-content: space-evenly;
        padding:2rem 0rem;
        height:230px;
    }

    #cart-button{
        min-width:300px;
    }

    #how-to-map{
        min-width:300px;
    }
    #cart-button-rest-page{
        min-width:300px;
    }

    
 

}

@media screen and (min-width:601px) {
    #ux-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 92px;
        padding:0rem 2rem;
    }

    #cart-button{
        min-width:5.5rem;
    }

    #cart-button-rest-page{
        min-width: 165px;
    }

    #how-to-map{
        min-width: 250px;
    }
    .header-button-spacing{
        padding-left:1rem;
    }
    
}

.minimal-header-padding{
    padding-right:2rem;
  
}



#cart-button:hover{
    background-color: var(--color-hover-black);
}

.header-button{
    min-height:3rem;

}



#carts-text-holder{
    margin-left: 3px;
}


.map-location-text{
    padding-left:1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#delivery-pickup{
    font-family: var(--font-family-UMB);
}


#header-form-spacing{
    padding-left:1rem
}

.header-left{
    display: flex;
    align-items: center;
    width:auto;
}