body.active-modal {
    overflow-y:hidden;
}




.modal-overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.4s ease-in-out 0s;
}



#sign-out{
    width:100%
}

.divider-slim{
    border: none;
    height: 1px;
    background: var(--color-grey);
    margin-top: 1rem;
    margin-bottom: 1rem
}


.phone-buttons{
    display: flex;
    justify-content:flex-start;
}

/* used for left facing menu modal, UserMenuModal.jsx */

.modal-menu-content{
    
    position: absolute;
    background-color: var(--color-white);
    width:300px;
    height:100%;
   
}
.modal-item-univ{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.modal-menu-button{
    
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    padding-left: 2rem;
}

.modal-menu-text-options{
    height:40px;
    font-size:14px;
    padding-left: 2rem;

}


