
.options-modal-overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    transition: opacity 0.4s ease-in-out 0s;
}

.univ-options-body{
    position: absolute;
    background-color: var(--color-white);
    border:1px solid var(--color-grey-shadow);

}

.sort-modal{

    width:380px;
}


@media screen and (max-width: 599px) {
    .price-rating-modal{
        height:200px;
        max-width:160px;
    }

    .sort-modal-radio{
        display: flex;
        flex-direction: column;
        height:100%;
        width:100%;
        justify-content: space-evenly;
        align-items: center;
    }
    

}

@media screen and (min-width: 600px) {
    .price-rating-modal{
        width:380px;
        height:60px;
    }

    .sort-modal-radio{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        height:60px;
        z-index: 69420;
    }
    

}

.price-modal{
    width:380px;
}







.sort-modal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-UMM);
    width:100px;
    height:36px;
}

.city-modal-btn{
    font-family: var(--font-family-UMM);
    width:100px;
    height:30px;

}  

.city-modal-overlay{
    background-color: transparent;
}


/* styles for other cities modal */

@media screen and (max-width:599px) {
    
    .city-modal-body{
        width:250px;;
        height:300px;
        left:300px;
       
    }
    #city-modal-header{
        padding-left:2rem;
    }
    
}

@media screen and (min-width:600px) {
    
    .city-modal-body{
        width:380px;
        height:300px;
        left:300px;
       
    }

  
}


#city-modal-header{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom:1rem;
    font-size: 26px;
}

#city-options{
    overflow: auto;
    overflow-y: auto;
    height:180px;
}

.city-option{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:45px;
    padding-left:1.5rem;
    padding-right:1.5rem;

}