
#sub-footer{
    padding-top:3rem;
    padding-bottom:5rem;
    height:180px;
}

.footer-divider{
    border: none;
    height: 2px;
    background: var(--color-grey);
}

.footer-options{
    display: flex;
    flex-direction: column;
}

#footer-bottom{
    padding:2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:auto;
}


#footer-right{
    display: flex;
    flex-direction: column;
}

.plain-footer-text{
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.footer-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-text:hover{
    text-decoration-line: underline;
    cursor: pointer;
}

.subfooter-holder{
    padding-top:2rem;
    display: flex;
    justify-content: space-around;
}

.github-linkedin-footer{
    height:30px;
}