


#left{
    width:100%
}


.checkout-page{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

/* left side items  */


@media screen and (max-width:600px) {
    .checkout-lr{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height:55vh;
        padding-left: 3rem;
        padding-right:3rem;
    }

}

@media screen and (min-width:601px) {
    .checkout-lr{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height:55vh;
        padding-left: 7rem;
        padding-right:7rem;
    }

}



.rest-title{
    font-family: var(--font-family-UMB), var(--font-family);
    font-size: 40px;
    
}  


.checkout-deliv-pickup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    border-radius: 3rem;
    margin-bottom:1rem;
}



.loc-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    
}

.icon-spacing{
    padding-right:1rem;
}

.delivery-section{
    min-height:85px;

}


.delivery-options{
    display: flex;
    justify-content: space-between;
    width:auto;
    min-height:50px;
}


#loc-icon{
    height:20px;
}

#delivery-form{
    height:16px;
    width:100px;
    background-color: transparent;
    display: flex;
    justify-content: start;
}

#delivery-input{
    padding-left: 0px;

}


.loc-left-est{
    margin-left:5%;
}

.your-items{
    padding-bottom: 1rem;
}

#your-items-section{
    overflow:hidden;
    overflow-y:auto;
    height:110px;
}

.your-items-price{
    display: flex;
    align-items: center;
}

.your-items-item{
    display: flex;
    justify-content: space-between; 
    padding-left: 5%;
    padding-right: 5%;
}

.your-items-quantity{
    display:flex;
    justify-content: flex-end;
    margin:0px;
}



@media screen and (max-width:600px) {
    .your-items-quantity{
        max-width:150px;
    }

    .your-items-name{
        display: flex;
        flex-wrap: wrap;
        max-width:150px;
        padding-right:.5rem;
    }
    
    .item-quant{
        min-width:35px;
    }
}

@media screen and (min-width:601px) {
    .your-items-name{
        padding-right:.5rem;
    }
}



.delivery-edit{
    height:35px;
    width:60px;
    border-radius: 5rem;
    font-family: var(--font-family-UMM),var(--font-family);
    font-size: 16px;
}

#delivery-text-top{
    width:100%
}


.delivery-text-bottom{
    margin:0;
    font-size: 12px;
    color: var(--color-grey-text);
}

.deliv-est{
    font-family: var(--font-family-UMB), var(--font-family);
    font-size: 30px;

}


.delivery-options-text {
    display: flex;
    min-height: 45px
}

.delivery-options-text > *{
    min-height:40%;
}
.deliv-est-btn{
    border:solid;
    border-radius: 1rem;
    border-color: var(--color-greyButtonBG);
    width:100%
}

.delivery-header-holder{
    margin-top:1%;
    margin-bottom:2%
}

.delivery-header{
    font-family: var(--font-family-UMB), var(--font-family);
    font-size: 20px;

}


.checkout-right{
    width:100vw;
    height:auto;
    background-color: var(--color-grey);
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items:baseline;

}


.place-order-holder{
    
    width:100%
}

#place-order{
    width:80%;
    height: 80px;
    font-size: 30px;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 1rem;
    margin-bottom:1rem;   
}

.place-order:hover{
    
    cursor:pointer;
 
}

.place-order:active{
    background-color: var(--color-green-active);
}

#subtext{
    width:80%;
    font-size:14px;
    font-family: var(--font-family);
    color: var(--color-grey-text);
}

#checkout-header{
    display: flex;
    justify-content: space-between;
    min-width: 218px;
}

.checkout-subtext{

    width:100%;
    font-family: var(--font-family);
    color:var(--color-grey-text);
    font-size: 14px;
}

.checkout-array{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom:1%
}

#add-tip{
    padding-bottom: 1rem;
}

#tip-choice{
    display: flex;
    justify-content: start;
    padding-bottom: 1rem;
}

#no-tip{
    min-width:70px;
}

.tip-button{
    color: var(--color-greyButtonBG);
    height: 34px;
    min-width:60px;
}

.mp{
    margin-top:4%;
}

.mpm{
    margin-top:1%
}

#grey-banner{
    background-color: var(--color-grey);
    color: var(--color-black);
}


/* google map style */

.checkout-container{
    height: 10vh;
}