/* .listing-info{} */
.restaurant-name{
    font-family: var(--font-family);
    font-size:38px;
    font-weight:600;
}
.restaurant-info{
    
}
/* 'restaurant-ratings{} */
/* restaurant-buttons' */
/* .listings-main{}
.table-of-contents{}
.listings-view{}
.reviews{} */