/* Key: menu listings */



.listing-info{
    padding-top:1.5rem
}

.restaurant-listing-name{
    font-family: var(--font-family-UMB);
    font-size:38px;
    font-weight:600;
}
.listing-text-spacing{
    padding-right:6px;

}

.line-text-hoverable:hover{
    text-decoration: underline;
    cursor:pointer;
}

.restaurant-info{
    padding-top: .1rem;
    padding-bottom:.5rem;   
}
.menu-row-1{
    display: flex;
    justify-content: flex-start;
}

.menu-row-2{
    font:var(--font-family-UMM);
    font-size: 14px;
    color: var(--color-grey-text);
    font-weight:100;
}

/* 'restaurant-ratings{} */
/* restaurant-buttons' */
.listings-main{
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 600px){
    .table-of-contents{
        margin: 1rem 2rem;
       
    }

    .toc-inner{
        display: flex;
        align-items:center;
        flex-direction: column;
        max-height:100px;
        width:90vw;
        overflow-y: auto;
    }
}

@media screen and (min-width: 601px){

    .toc-holder{
        width:30%;
        position:relative;
        padding-inline: 3rem;
    }
    
    .table-of-contents{
        display: flex;
        justify-content: start;
        align-items: left;
        flex-direction: column;
        min-width:30%;
    }
    
    .toc-pos{
        position: fixed;
        top:20px;
        overflow-x: auto;
        z-index: 1;
        padding-right:3rem;
        width:30%;
    }

    .toc-inner{
        min-width: 300px; /* set a fixed width for the inner div */
        overflow-x: auto; /* apply overflow-x: auto to the inner div */
    }

    #menu-main{
        width:70%;
    }
}




.toc-index{
    display: flex;
    flex-wrap: wrap;

    padding-top: 1rem;
    height:auto;
}

.toc-index:hover{
    cursor:pointer;
    text-decoration: underline;
}



/* 2. ListingsBlock */
.header-holder{
    display: flex;
    align-items: center;
    height:60px
}

.listing-header{
    
    font-family: var(--font-familyUMB), var(--font-family);
    font-size: 28px;
    font-weight:800;
}

.menu-options{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px 20px;
    width:100%;
}

/* 3. MenuListing */

.listings-block{
    width:100%;

}

.item-listing{
    position: relative;
    width:100%;
}


.item-listing:hover{
    border-color:var(--color-grey-shadow);
    border-style: solid;
    border:1px;
    word-break: break-all;
}

.item-name{
    font-family: var(--font-familyUMM), var(--font-family);
    font-size:16px;
}

.item-price{
    font-family: var(--font-family);
    font-size:15px;
    font-weight:100px;
}

.item-description{
    font-family: var(--font-family);
    font-size:14px;
    color: var(--color-grey-text);

}

.add-to-cart{
    color:white;
    background-color: var(--color-black);
    border-radius: 1px;
    border-color: var(--color-white);
    height: 34px;
    width:34px;
    font-size: 26px;
    border-radius: 3rem;
    cursor:pointer;
    position:relative;
    bottom:60%;
    left: 80%;
    transition: width 0.2s;

}

#see-your-cart{
    color:white;
    background-color: var(--color-black);
    border-radius: 1px;
    border-color: var(--color-white);
    height: 34px;
    width:150px;
    font-size: 16px;
    border-radius: 3rem;
    cursor:pointer;
    position:sticky;
    bottom:70%;
    left:85%;
    z-index:1;
    transition: width 0.2s;


}

.add-to-cart:hover{
    background-color: var(--color-hover-black);

}

/* 4. reviews */

.review-section{
    margin-top: 100px;
    margin-bottom:5rem;
    z-index:2
}

@media screen and (max-width:600px) {
    #reviews-header-text{
        padding-left:2rem;
    }
    #reviews-subtext{
        padding-left:2rem;
        display: flex;
        flex-wrap: wrap;
    
    }

}

#reviews-header{
    display:flex;
    justify-content: start;
    width:360px;

}

#reviews-header-text{
    font-size:50px;
    inline-size: 286px;
    overflow-wrap:break-word;
}

#reviews-subtext{
    font-family: var(--font-family);
    color: var(--color-grey-text)
}

.reviews{
    display: flex;
    flex-direction:column;
    width:100%;
    height:100%
}

.review-body{
    width:100%;
    height:130px;
}

.review-upper{
    display:flex;
    justify-content: space-between;

}
.review-buttons{
    text-decoration: underline;
    padding-right: 3rem;
}
.review-buttons:hover{
    cursor:pointer
}

.review-text{
    font-family: var(--font-family);
    font-size: 14px;
    color:var(--color-grey-text);

}

#toc-modal-btn{
    min-width:100%;
}

#browse-rest-btn{
    min-width:80%;
    font-size:20px;
}

#toc-modal{
    position:absolute;
    top:0;
    min-height:80%;
    min-width:70%;
    
}