

/* TODO Add site wide styles */

@font-face {
    font-family: 'UberMoveBold';
    src: url("./assets/UberMoveBold.otf");
  }

  
@font-face {
    font-family: 'UberMoveMedium';
    src: url("./assets/UberMoveMedium.otf");
  }
  
:root{
    --color-green: #06c167;
    --color-green-active: #037840;
    --color-grey: rgb(238, 238, 238);
    --color-grey-boxshadow:#949494;
    --color-greyDarker: rgb(84, 84, 84);
    --color-grey-text: #8D8D8D;
    --color-grey-array-hover:#F6F6F6;
    --color-greyButtonBG: #EEEEEE;
    --color-grey-shadow: #E2E2E2;
    --color-hover-grey: #E2E2E2;
    --color-header-white: #FFFFFF;
    --color-black: #000000;
    --color-black-boxshadow:#5E5E5C;
    --color-hover-black: #333333;
    --color-white: #FFFFFF;
    --color-red-text:#E11900;
    font-size: 16px;
    --font-family: sans-serif;
    --font-family-UMB: 'UberMoveBold';
    --font-family-UMM: 'UberMoveMedium';
}

*{
    /* box-sizing: border-box; */
    font-family: var(--font-family-UMM), var(--font-family);
}

.udc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.udc-left{
    display: flex;
    justify-content: start;
    align-items: center;
}

.udc-right{
    display: flex;
    justify-content: end;
    align-items: center;
}


.fdr{
    display: flex;
    flex-direction: row;
}

.fdc{
    display: flex;
    flex-direction: column;
}

.sb{
    display: flex;
    justify-content: space-between;
}

.se{
    display: flex;
    justify-content: space-evenly;
}

.univ-padding{
    padding-left: 3rem;
    padding-right: 3rem;
}

.univ-padding-y{
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.embedded-icon-padding{
    padding-right:.5rem;
}

/* button styles */

.btn-round{
    margin: auto;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1.2rem;
    letter-spacing: 0.6px;
}

.btn-round:hover{
    cursor: pointer;
}


.btn-round-two{

    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    letter-spacing: 0.6px;
}

.btn-round-simple{
    padding: 0.8rem 1rem;
    border-radius: 30px;
    border: 0;
    letter-spacing: 0.6px;

}
.btn-multi-eles{
    display: flex;
    align-items: center;
}


.ux-buttons{
    display:flex;
    align-items: center;
    padding-bottom:1rem;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    height: 3rem;
}

.ux-buttons:hover{
    background-color: var(--color-hover-grey);
    cursor:pointer;

}

.grey-button{
    background-color: var(--color-grey);
    color: var(--color-black);
    box-shadow: 0 4px 0 var(--color-grey-boxshadow);    
}

.grey-button:active{
    box-shadow:none;
    transform: translateY(4px);
}

.grey-button:hover{
    background-color: var(--color-hover-grey);
    cursor:pointer;
}

.grey-button-no-shad{
    background-color: var(--color-grey);
    color: var(--color-black);
}
.grey-button-no-shad:hover{
    background-color: var(--color-hover-grey);
    cursor:pointer;
}

.grey-button-no-shad:active{
    color: var(--color-white);
    background-color: var(--color-black);
}

.black-button{
    color: var(--color-white);
    background-color: var(--color-black);
    box-shadow: 0 4px 0 var(--color-black-boxshadow);
}

.black-button:active{
    box-shadow: none;
    transform: translateY(4px);
}

.black-button:hover{
    background-color: var(--color-hover-black);
}


.ux-sort-buttons{
    margin-left:0rem;
    margin-right: .5rem;
    display:flex;
    align-items: center;
    height: 40px;
}

.btn-rounded-corners{
    border-radius: 7px;

}

.button-sq{
    border-radius: 7px;
    padding: 0.8rem 1rem;
    border: 0;
    font-family: var(--font-family-UMB),var(--font-family);
    letter-spacing: 0.6px;
}


.header-btn-round{
    display: flex;
    text-align: center; 
}




/* for the logo "suberEats" */
.logo-holder{
    min-width:160px;
    height:2.5rem;
    padding-right: 1.5rem;
}
.logo-holder:hover{
    cursor: pointer;
}

.logo{
    font-size: 30px;
}

.subheader{
    font-size: 30px;
    font-weight: 600;
}

.suber{
    
    font-weight: 300;
}

.eats{
    font-weight: 600;
}

.eats-green{
    color:var(--color-green)

}



.splash-comps{
    margin-top: 5rem;
}

.splash-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 92px;
}

.splash-title{
    font-size: 34px;  
    font-weight: 600
}

.splash-links{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}


@media screen and (max-width: 600px){
    .geo-location{
        margin-top: 1rem;
        display:grid;
        grid-template-columns: auto auto;
        gap: 20px 20px;
    }
}

@media screen and (min-width: 601px){
    .geo-location{
        margin-top: 1rem;
        display:grid;
        grid-template-columns: auto auto auto auto;

        gap: 20px 20px;
    }
}




.apply-underline{
    text-decoration: underline;
}

.form-bg{
    display:flex;
    align-items: center;
    background-color: var(--color-greyButtonBG);
    padding: 0.8rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    height: 3rem;
    min-width: 160px;
}

h2{

    font-size: 180px;
}



/* used for arrow buttons */
 
.face-right{

    transform: rotate(180deg);
}

.arrow-clickable-color{
    color: var(--color-white);
}

.menu-modal{
    height:2rem;
    cursor: pointer;
}


/* used for general icon styling */

.star{
    height:12px;
}


/* universal modal styles  */

.active-modal {
    overflow:hidden;
    overflow-y:auto;
}


.modal-overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.4s ease-in-out 0s;
}




.grey-border-for-white{
    border:1px solid var(--color-grey-shadow);
}



/* for shared modals in review and other */



.review-modal-overlay{
    display: flex;
    justify-content: center;
   
}


.review-modal-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color-white);
    width:800px;
    height:400px;
    margin-top: 4%;
    border-radius: 1rem;
}

.btn-holder{
    display: flex;
    justify-content: space-between;
    width:80%
}

.review-btns{
    height:40px;
    width:48%;
    border-radius: .5rem;
}

.review-form{
    width:80%;
    height:60%;
    margin-top:2%;
    margin-bottom:2%;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.review-input{
    width:70%;
    height:100%
}

.review-submit{
    color: var(--color-white)
}

.errors{
    color: var(--color-red-text)
}