/* TODO Add site wide styles */
:root{
    --color-green: #06c167;
    --color-grey: rgb(238, 238, 238);
    --color-greyDarker: rgb(84, 84, 84);
    --color-greyButtonBG: #EEEEEE;
    --color-hover-grey: #E2E2E2;
    --color-black: #000000;
    --color-hover-black: #333333;
    --color-white: #FFFFFF;
    font-size: 16px;
    --font-family: sans-serif;
}

*{
    box-sizing: boarder-box;
    font-family: var(--font-family);
}


.univ-font{
    font-family: var(--font-family);

}

.univ-padding{
    padding-left: 3rem;
    padding-right: 3rem;
}

.embedded-icon-padding{
    padding-right:.5rem;
}

.btn-round{
    margin: auto;

    padding: 0.8rem 1rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1.2rem;
    letter-spacing: 0.6px;
}
.btn-multi-eles{
    display: flex;
    align-items: center;
}


.ux-buttons{
    display:flex;
    align-items: center;
    background-color: var(--color-greyButtonBG);
    padding-bottom:1rem;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    height: 3rem;
}

.ux-buttons:hover{
    background-color: var(--color-hover-grey);
}


.ux-sort-buttons{
    margin-left:0rem;
    margin-right: .5rem;
    display:flex;
    align-items: center;
    height: 40px;
}


.header-btn-round{
    display: flex;
    text-align: center; 
}


/* header for suber eats */


/* for the logo "suberEats" */

.logo{
    font-size: 30px;
}

.subheader{
    font-size: 30px;
    font-weight: 600;
}

.suber{
    
    font-weight: 300;
}




.eats{
    font-weight: 600;
}

.eats-green{
    color:var(--color-green)

}

.button-sq{
    border-radius: 7px;
    padding: 0.8rem 1rem;
    border: 0;
    font-family: var(--font-family);
   
    letter-spacing: 0.6px;
}

.splash-comps{
    margin-top: 5rem;
}

.splash-header{
    display: flex;
    justify-content: space-between;
}

.splash-title{
    font-size: 34px;  
    font-weight: 600
}

.splash-links{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}

.geo-location{
    margin-top: 1rem;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 20px;
}


.apply-underline{
    text-decoration: underline;
}

.form-bg{
    display:flex;
    align-items: center;
    background-color: var(--color-greyButtonBG);
    padding: 0.8rem 1rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    height: 3rem;
}




h2{

    font-size: 180px;
}



/* used for arrow buttons */
 
.face-right{

    transform: rotate(180deg);
}

.arrow-clickable-color{
    color: var(--color-white);
}