
#ramen{
    width:100%;
}

@media screen and (max-width: 600px){
    #search-component{
    
        position: relative;
        text-align: left;
        color: var=(--color-black);
        font-family: var(--font-family)
      }
    #splash-main{
        display: flex;
        flex-wrap:wrap;
        max-width:50%;
        margin-left:2rem
    }

    #ramen{
        width:100%;
        height:500px;
    }
    #order-food-banner{
      
        font-size: 50px;
        font-weight: 600;
    }
    /* text for "Order Food To Your Door" */
  
    .splash-subheader{
        width:40%
    }

    .splash-title{
        display: flex;
        flex-wrap:wrap;
    }

}

@media screen and (min-width: 601px){

    #order-food-banner{
        font-size: 50px;
        font-weight: 600;
    }

    #search-component{

        position: relative;
        text-align: left;
        color: var=(--color-black);
        font-family: var(--font-family)
      }
}





#splash-main{
    position: absolute;
    top: 30%;

}
#search-options{
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
    font-size: 20px;
    
}

#search-form{
    background-color: var=(--color-black);
    display:flex;
    flex-direction: left;
}

#find-food{
    background-color: black;
    color: var(--color-white);
    font: 16px;
}

p{
    margin-top: 1rem;
}

.apply-underline{
    text-decoration: underline;
}


.splash-comps{
    margin-top: 5rem;
}


.splash-title{
    font-size: 34px;  
    font-weight: 600
}

.splash-links{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}






#splash-bottom{
    padding-bottom: 5rem;
}


#user-auth-buttons{
    min-width:250px;
}



#sign-in{
    text-decoration: underline;
}



/* color for login on hover #CCCCCC */
/* color for sign up hover #333333 */


hr.divider-thick{
    border: none;
    height: 2px;
    background: var(--color-grey);
    margin-top: 5rem;
    margin-bottom: 4rem
 }
 
 
 .options{
    margin-top: 1rem;
    display:grid;
    grid-template-columns: auto auto;
    gap: 30px 300px;
 }
 
 .listings-grid{

    display: flex;
    
}
.listings-grid-ele{
    min-width: 33%;
}


@media screen and (max-width:600px) {
    .listings-grid{
        flex-direction: column;
    }
    .listings-grid-ele{
        margin-top:2rem;
        padding:0rem 1rem;
    }

}

@media screen and (min-width:600px) {
    .listings-grid-ele{
        margin-top:2rem;
        padding-right:20px;
    }
}
 




.listings-img{
    height:240px;
    overflow: hidden;
}

.listings-image{
    
    width: 100%;
    height: 100%;   
}


@media screen and (max-width:600px){
    .splash-div{
        display: flex;
        align-items: center;
    }

    .listings-image{
        object-fit: contain;

    }
}
@media screen and (min-width:601px){
    .listings-image{
        object-fit: cover;

    }
}


.listings-cont{
    margin-top: 1rem;
    margin-left: auto;
    align-items: center;
    font-family: var(--font-family);

}

.listings-header{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: .5rem;
}

.listings-text{
    font-size: 16px;
    font-weight: lighter;
    color: var(--color-greyDarker);
    height: 40px;
    text-decoration: underline;

}



.button-icon{

    height: 20px;
    padding-right: .5rem;
}


#splash-header{
    background-color: var(--color-header-white);
    width: 100%;

}