header{
    height: 64px;
}

.login-logo{
    position: relative;
    left: 70px;
    top: 25%
}

#login-suber-eats{
    color: white;
    background-color: var(--color-black);

}



.sign-in-main{
    
    display: flex;
    flex-direction: column;
    
    font-family: var(--font-family);
    margin:auto;
    padding-top: 12rem;
    width:338px;
}



.head-text{
    font-size: 25px;
}

#username-email{
    padding-top: .4rem;
}


.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: .2rem;
    margin-bottom: .2rem;
    background-color: var(--color-grey)
}

.login-text{
    padding-left: .5rem;
    background-color: var(--color-grey);
}

.login-button:hover{
    background-color: var(--color-hover-grey);
    transition: 0.3s
}


.login-form{
    background-color: var(--color-white);
    overflow: hidden;
    text-align: center;
}

.form-contents{
    background-color: var(--color-grey);
    margin-top: auto;
    margin-right:auto; 
    border-radius: 7px;
    border: 0;
    font-family: var(--font-family);
    font-size: 18px;
    height: 44px;
    width: 100%;
    letter-spacing: 0.6px;
}


.sign-up-form-spacing{
    margin-bottom: 4px;
 
}

#button-continue{

    background-color: var(--color-black);
    color: var(--color-white)
}

#button-continue:hover{
    background-color: var(--color-hover-black);
}



hr.divider-thin{
    border: none;
    height: 2px;
    background: var(--color-grey);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
 }
 
 
 .terms-cond{
    font-size: 13px;
    color:#6B6B6B;
    line-height: 1.4;
 }

 .text-spacing{

    margin-bottom: 5.5rem;
 }

.user-auth-h{

    padding-bottom: 1rem;

}
.login-options{
    display:flex;
    justify-content: space-between;
 }

 .button-hold-l{
    display: flex;
    justify-content: flex-start;
    

 }

 .button-hold-r{
    display: flex;
    justify-content: flex-end;
 }

.auth-buttons{
    display: flex;
    align-items: center;
    height:50px;
    width: 90px;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1.2rem;
    letter-spacing: 0.6px;
}

.auth-circle{
    color: #AFAFAF;
    border:20px;
    background-color: #F6F6F6;
    width:50px;

}

 #btn-next{
    background-color: #F6F6F6;
    color: #AFAFAF;
    /* cursor:not-allowed; */
 }

#btn-next-clickable{
    background-color: var(--color-black);
    color: var(--color-white);
    cursor:pointer;
}



.next-text{
    font-size: 16px;
    margin-bottom: 1rem;
    padding-right: .5rem;
}


.arrow-size{
    width:16px;

}



.errors-segment{
    display: flex;

    align-items: center;
    min-height:28px;
}

.errors-text{
    color: red;
    font-size:14px;
    
}

.errors-sign-in{
    display:flex;
    justify-content: space-evenly;
    margin-bottom:50px;
}

