

/* secondary menu modal for specific restaurant */
#rest-modal{ 
    height:100%;
    overflow:hidden;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    overflow-y: auto;
    margin:auto;
    background-color: var(--color-white);
    height:100%;
    right:0px;
    border: left 2px;
    transition: transform .05s ease-in-out;
}

@media screen and (max-width:599px){
    .sub-menu{
        width:100vw;
        
    }
}
@media screen and (min-width:600px){
    .sub-menu{
        width:450px;

    }

}

.sub-header-pos{    
    padding-left: 1.5rem;
    padding-top: 1rem;

}

.sub-menu-header{
    font-family:var(--font-family-UMB);
    font-size: 34px;
    padding-bottom: .5rem;


}

.sub-menu-text{
    font-family: var(--font-family);
    font-size:16px;
    color:var(--color-grey-text);

}

.sub-menu-buttons{
    padding-top: .5rem;
    display: flex;
    justify-content: start;
}

.sub-menu-button{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--font-family);
    font-size:14px;
    height:38px;
    width:140;
}


.sub-menu-choices{
    overflow-y: auto;
    overflow-x:hidden;
    max-height:70vh; 
}

.clear-cart{
    color: var(--color-red-text);   
    
}

.clear-cart:hover{
    cursor:pointer;
}

.clear-cart-holder{
    height:100px;
}

.go-checkout{
   
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 20px;
    width:90%;
    height:54px;
    margin-bottom:6%
}


#exit-button{
    cursor:pointer;
    padding-right:1rem;
}